/*
Sticky Footer thanks to Ryan Fait
http://ryanfait.com/
*/
 * {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* the bottom margin is the negative value of the footer's height */
    margin: 0 auto -3em;
}
/* .push must be the same height as .footer */
.footer, .push {
    height: 3em;
}

/* General Page Styles */
a {
    color: #33C;
    text-decoration: none;
}
body {
    background-color: #FEFEFE;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5 {
    font-family: Georgia, "Times New Roman", serif;
}
h1 {
    border-bottom: .1em solid #33F;
    color: #337;
    margin: 0 auto;
    width: 7em;
}
h2 {
    font-size: .8em;
}
input {
    
}
input.active, input.button {
    color: #000;
}
li, ul {
    list-style: none;
}
.clear {
    clear: both;
    float: none;
    width: inherit;
}
.clear:after {
    clear: both;
    content: " ";
    float: none;
}

/* Main Page */
#main_body {
    margin: 0 auto;
    width: 750px;
}
#main_header {
    padding-top: 1em;
}

#search_sacraments {
    border: 1px solid #CCC;
    margin-top: 1em;
    padding: 0 0;
}
#search_sacraments, #Submit {
    background-color: #33A;
}
#search_sacraments {
	-moz-border-radius: .7em .7em;
	-webkit-border-radius: .7em .7em;
	border-radius: .7em .7em;
	border: 1px solid #FFF;
    margin: .1em .1em;
    padding: 1em 1em;
}

#search_sacraments fieldset {
	border: 0 none #000;
}
#search_sacraments fieldset li {
	margin-bottom: 1em;
	text-align: left;
}
#search_sacraments fieldset label,
#search_sacraments fieldset legend,
#search_sacraments fieldset li,
#search_sacraments fieldset input {
	color: #DDF;
}
#search_sacraments fieldset input[type="number"],
#search_sacraments fieldset input[type="datetime-local"] {
	background-color: transparent;
	border: 0 none #000;
	border-bottom: 1px dashed #CCC;
	display: inline;
	margin: 0;
	padding: 0;
	text-align: center;
	width: auto;
}
#search_sacraments fieldset input[type="number"] {
	width: 3em;
}
#Search {
    margin-right: -6.5em;
    padding: .5em 7em .5em .2em;
    width: 32em;
}
#Submit {
    border: 0 none #000;
    -moz-border-radius: .7em;
    -webkit-border-radius: .7em;
	border-radius: .7em;
    -moz-box-shadow: 1px 2px 1px #777777;
    -webkit-box-shadow: 1px 2px 1px #777777;
	box-shadow: 1px 2px 1px #777777;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}
#Submit:active {
    -moz-box-shadow: 0px 1px 0px #777777;
    -webkit-box-shadow: 0px 1px 0px #777777;
	box-shadow: 0px 1px 0px #777777;
}

/* Results Styling */
#ResultList {
    border: 1px solid #000;
	left: 0;
    min-height: 40px;
	position: relative;
	top: 0;
	zoom: 1; /* Fix for potential bug in IE < 8 */
}
#ResultList ul {
    padding: 0 0;
}
#ResultList ul li {
    border-bottom: 2px solid #900;
	left: 0;
	margin-bottom: 1.5em;
    min-height: 10px;
    padding-bottom: .5em;
	position: relative;
	top: 0;
	zoom: 1; /* Fix for potential bug in IE < 8 */
}
#ResultList ul li:first-child {
    margin-top: 1em;
}
#ResultList ul li:last-child {
    border-bottom: 0px none #000;
    padding-bottom: 0;
}

#ResultList .information {
    clear: left;
}
#ResultList .more_information {
	bottom: 0;
	cursor: pointer;
	font-size: 3em;
	position: absolute;
	right: 0;
}
.parish_name {
    cursor: pointer;
    display: block;
    font-weight: bold;
}
.sacrament_kind {
    font-family: Georia, "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: bold;
}
.sacrament_time {
    font-family: monospace;
}

/* Map Page Styles */
#Results {
    display: none;
}
#Directions {
    border: 3px ridge #333;
    width: auto;
}
#map_container {
    border-bottom: 5px double #333;
    border-left: 5px double #555;
    border-right: 5px double #555;
    border-top: 0 none #000;
    height: 24em;
    text-align: left;
    width: auto;
}
#gMaps {
    height: 700px;
    margin: 0;
    padding: 0;
    width: 700px;
}